# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.venv/
venv/
ENV/
env/
instance/
.scrapy
.libs/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project Specific
.env
hf-cache/
.cache/
data/
db-data/